 body {
    margin: 0;
    font-family: "Arial", sans-serif;
    text-align: center;
  }
  
  .hubnex-section {
    padding: 50px 20px;
  }
  
  .header h1 {
  margin-bottom: 10px;
  }
  
  .header p {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .connect-sales-button {
    color:black;
    border: 1px solid black;
   
    padding: 10px 20px;
    font-size: 1rem;
  
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  
  .connect-sales-button:hover {
    background-color: #555;
  }
  
 
  .integration-wrapper {
    background: linear-gradient(270deg, #95f4f9, #fdddfd);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px; 
    margin-left: 300px; 
    width: 60%;
  }
  

  .integration-container {
    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    max-width: 1500px;
    height: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
 
  .integration-card {
    text-align: center;
    flex: 1;
    margin: 0 10px;
  }
  
  .integration-card h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    color: rgb(147 51 234 ); 
  }
  
  .integration-card p {
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
  }
  
 
  @media (max-width: 768px) {
    .integration-container {
      flex-direction: column;
      gap: 15px;
    }
  
    .integration-card {
      margin: 10px 0;
    }
  }
  @media (min-width: 576px) {
    .integration-card {
      width: 200px; 
    }
  }
  
  @media (min-width: 768px) {
    .header h1 {
      font-size: 2.5rem; 
    }
  
    .header p {
      font-size: 1.2rem; 
    }
  
    .integrations-container {
      gap: 30px; 
    }
  }
  
  @media (min-width: 1200px) {
    .hubnex-section {
      padding: 70px 40px; 
    }
  
    .integration-card {
      width: 250px;
    }
  
    .header h1 {
      font-size: 3rem; 
    }
  
    .header p {
      font-size: 1.5rem; 
    }
  }
  