.benefits-container {
    text-align: center;
    padding: 2rem;
    font-family: Arial, sans-serif;
    background-color: #fff; 
    width: 100%;
  }
  
  .benefits-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #000; 
    margin-top: 40px;
  }
  
  .benefits-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    gap: 1.5rem; 
    flex-wrap: wrap; 
  }
  
  .benefit-card {
    background-color: #f9f9f9; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .benefit-card:hover {
    transform: translateY(-5px);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .card-content {
    margin-top: 1rem;
    text-align: center;
    padding: 1rem; 
  }
  
  .black-bg {
    background-color: #000; 
    color: #fff;
    border-radius: 8px; 
  }
  
  .black-bg h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #fff; 
  }
  
  .black-bg p {
    font-size: 0.9rem;
    color: #ccc; 
  }
  

  @media (max-width: 768px) {
    .benefits-row {
      flex-direction: column;
      align-items: center;
    }
  
    .benefit-card {
      width: 90%; 
    }
  }

 
.black-bg:hover {
  background-color: #333; 
  color: #f1f1f1; 
  transform: scale(1.05); 
  transition: all 0.3s ease-in-out; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}


.black-bg h3 {
  margin-bottom: 0.5rem;
  transition: color 0.3s ease; 
}

.black-bg h3:hover {
  color: #ffa500; 
}


.black-bg p {
  font-size: 0.95rem;
  color: #ccc;
  transition: color 0.3s ease; 
}

.black-bg p:hover {
  color: #fff; 
}

  